<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>News</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

	<h2>Login Form</h2>
	<form action="/login" method="post">
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" required><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br>

		<button type="submit">Log In</button>
	</form>

	<h2>Registration Form</h2>
	<form action="/signup" method="post">
		<label for="firstName">First Name:</label>
		<input type="text" id="firstName" name="firstName"><br>

		<label for="lastName">Last Name:</label>
		<input type="text" id="lastName" name="lastName"><br>

		<label for="email">Email:</label>
		<input type="text" id="email" name="email" required><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br>

		<label for="phoneNumber">Phone Number:</label>
		<input type="text" id="phoneNumber" name="phoneNumber"><br>

		<button type="submit">Sign Up</button>
	</form>
</body>

</html>